<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheFeed - {{ cur_doc.username }}</title>
  </head>
  <body>
  	<br/>
  	<!--<form class ="form-inline">-->
  	<form>
		<div class="form-group">
			<!--<label for="name">Hey {{ cur_doc.username }}! How are you feeling today?</label> -->
			<textarea class="form-control" id="post_content" rows="5" placeholder="Hi {{ cur_doc.username }}! Would you like to share something?"></textarea>
		</div> 
		<button type="submit" id="add_post" class="btn btn-primary"> Post </button> 
	</form>
	<br/>
  	<p>Some profile stuff</p>

  	<script type="text/javascript">
  	$("#nav_brand").click(function(e) {
  		e.preventDefault();
  		window.location = "/";
  	});
  	$("#nav_home").click(function(e) {
  		e.preventDefault();
  		window.location = "/";
  	});
  	$("#nav_profile").click(function(e) {
  		e.preventDefault();
  		window.location = "/profile";
  	});
  	$("#add_post").click(function(e) {
		e.preventDefault();
		data = {post_content: $("#post_content").val()}
		$.post("/addPost", data);
		window.location = "/profile";
	});
  	</script>
  </body>
  </html>