<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheFeed - Search</title>
  </head>
  <body>
  	<br/><br/><br/><br/>
  	<center>
  	<h2>Search Results</h2>
    <h3>You searched for : {{ search }}</h3>
  	</center>
  	<br/>
	<hr>
	{% for post in posts %}
  <div class="panel panel-info">
      <div class="panel-heading">{{ post.username }}</div>
      <div class="panel-body">
      <p>{{ post.post_content }}</p>
      <!--<small class="form-text text-muted"> {{ post.tags_string }}</small>-->
      <font color="grey"> {{ post.tags_string }} </font>
      </div>
      <div class="panel-footer">
     <small class="form-text text-muted"> {{ post.post_time }}</small></div>
    </div>
    {% endfor %}

	{% block content %}{% endblock %}

  	<script type="text/javascript">
  	$("#nav_brand").click(function(e) {
  		e.preventDefault();
  		window.location = "/";
  	});
  	$("#nav_home").click(function(e) {
  		e.preventDefault();
  		window.location = "/";
  	});
  	$("#nav_profile").click(function(e) {
  		e.preventDefault();
  		window.location = "/profile";
  	});
  	$("#nav_settings").click(function(e) {
  		e.preventDefault();
  		window.location = "/settings";
  	});
  	$("#nav_logout").click(function(e) {
  		e.preventDefault();
  		$.post("/logout");
  		window.location = "/";
  	});
    $("#search_user").click(function(e){
    e.preventDefault();
    var loc = "/search/users/".concat(document.getElementById("search").value);
    window.location = loc;
  });
  	</script>
  </body>
  </html>