<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TheFeed - Settings</title>
  </head>
  <body>
  <script type="text/javascript">
  	$("#nav_brand").click(function(e) {
  		e.preventDefault();
  		window.location = "/";
  	});
  	$("#nav_home").click(function(e) {
  		e.preventDefault();
  		window.location = "/";
  	});
  	$("#nav_profile").click(function(e) {
  		e.preventDefault();
  		window.location = "/profile";
  	});
	$("#add_post").click(function(e) {
		e.preventDefault();
		data = {post_content: $("#post_content").val(), post_tags: $("#post_tags").val()}
		$.post("/addPost", data);
		window.location = "/settings";
	});
  </script>
  </body>
  </html>